@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: #6200ea;
    color: white;
    padding: 1rem;
  }
  nav a {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
  }
  nav a:hover {
    text-decoration: underline;
  }
  